* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.mega-wrap {
  
  padding-bottom: 40px;
  padding-top: 40px;
  height: 100vh;
  background: linear-gradient(180deg, rgb(21, 124, 119) 15%, rgb(200, 200, 200) 100px);
}

.demon-mode{
  filter: grayscale(1) invert(1);
   
}
.invert{
  filter: invert(1);
}

.wrapper {
  overflow: hidden;
  background-color: white;


}

.tondo {
  
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.user-top {
  border-right: 1px solid lightgray;
}




.top-btn {
  color: gray;
}

.top-btn:hover {
  color: lightgray;
}


.notifiche {
  background-color: #8EDAFC;
}

.search {
  width: 100%;
  background-color: #F4F0ED;

}

.search button {
  border-right: 0;
  border: 0;
  background-color: white;
  color: lightgray;
  border-radius: 10px, 0, 0, 10px;
}

.search input {
  border-radius: 0, 10px, 10px, 0;
  padding-left: 5px;
  border: 0;
  background-color: white;
}


.under-user p {
  font-size: 12px;
  margin-bottom: 0;
}

.under-user span {
  color: gray;
  font-size: 10px;
}


.user span {
  font-size: 10px;
  color: grey;

}

.user p {
  margin-left: 10px;
  flex-grow: 1;
  margin-bottom: 0;
}

#bell {
  font-size: 12px;
  margin-right: 8px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #8EDAFC;
  background-color: white;
}

.messaggi {
  overflow-y: auto;
  
  background-image: url(../img/mine.jpg);
  height: calc(100% - 154px);
}

.scrittura {
  background-color: #F4F0ED;

}



.contatti {
  height: calc(100% - 180px);
}


.scrittura i {
  color: grey;
  font-size: 1.5rem;
}


/* chat select */

.users:hover {
  background-color: #F4F0ED;
}


.current{
  background-color: #F4F0ED;
}

.msg-bubble {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  border-radius: 10px;
  justify-content: flex-start;
  align-self: flex-start;
}

.send-time {
  font-size: 10px;
  color: grey;
  margin-bottom: 2px;
}


.sent {
  background-color: #DDFABF;
  align-self: flex-end;
}

.sent .send-time::after {
  content: '\f560';
  font: var(--fa-font-solid);
  margin-left: 2px;

}


#send-msg {
  font-size: 20px;
  color: rgb(21, 124, 119)
}

#send-msg:hover {
  font-size: 20px;
  color: limegreen;
}


.v-enter-active,
.v-leave-active {
  transition: scale 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  scale: 0.1;
}


.erase-box{
  z-index: 90;
  right: 0;
  top: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
}

/* slider darkmode */
.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  content: '\f185';
  font: var(--fa-font-regular);
  text-align: center;
  line-height: 24px;
}
.toggle-switch.moon:before {
  content: '\f186';
  font: var(--fa-font-regular);
  text-align: center;
  line-height: 24px;
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* splash page */
.loading-bg{
  background-color:rgb(21, 124, 119) ;
  height: 100vh;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}

.logo{
  
  width: 300px;
  height: 300px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #434C56;
}

.loading-animation {
  display: flex;
}

.cog {
  animation-name: loading-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading-big {
  font-size: 108px;
  margin-bottom: 15px;
  animation-duration: 3s;
}

.loading-small {
  font-size: 60px;
  align-self: flex-end;
  margin-left: -10px;
  animation-duration: 2s;
  animation-direction: reverse;
}

.loading-text {
  font-size: 28px;
  font-weight: bold;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}